@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

body {
    text-align: center;
    font-family: 'Wittgenstein', sans-serif;
}
  
#output {
    border: 3px solid blue;
    margin: 5px;
}